#root{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.seat{
    width: 25px;
    height: 25px;
    border: 2px solid;
    margin-top: 10px;
    margin-right:15px;
}
.seat:hover{background: lavender;}
.booked{background: lavender;}